$red: rgba(255, 99, 74, 1);
$primary: rgba(242, 238, 238, 1);
$selected:rgb(211, 211, 211);
$shadow: 0px 0px 32px rgba(0, 0, 0, 0.04);

$text-primary: #000;
$span-text: rgba(16, 15, 15, 1);
$footer-text: #100F0F;

